#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.picture {
  width: 400px;
  will-change: filter;
  transition: filter 300ms;
}
.picture:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.picture.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.highlight{
  color: coral;
}

.collapse, .collapse td, .collapse th {
  border-collapse: collapse;
  border: 1px solid black;
  margin: auto
}

